{% extends 'content/base.html' %}

{% block content %}
 <main class="mt-5">
  <div class="container-fluid mt-5">
   <div class="row mx-1 mx-md-2 mx-lg-4 my-2 my-md-3 my-lg-4 py-5">
    <div class="my-2 my-md-3 my-lg-4">
     <div class="shadow-1-strong">
      <div class="col-12 hover-shadow py-5">
       {% block gallery_title_row %}
       {% endblock %}
       {% block gallery_top_row %}
       {% endblock %}
       {% block gallery_content_rows %}
       {% endblock %}
      </div><!-- .hover-shadow -->
     </div><!-- .shadow-* -->
    </div><!-- .my-* -->
   </div><!-- .row -->
  </div><!-- .container -->
 </main>
{% endblock %}
