{% extends 'content/galleries/galleries_base.html' %}

{% load static %}

{% block gallery_title_row %}
    <div class="row justify-content-center m-y-0 p-y-0">
     <div class="col-md-10 col-lg-9 col-xl-8">
      <div class="card hover-shadow m-2">
       <div class="shadow-1-strong">
        <div class="card-body">
         <div class="row justify-content-around m-y-0 p-y-0">
          <div class="col-md-10 col-lg-9 col-xl-8">
           <h1 class="display-4 font-weight-bold text-center">
            <u>{{ image_dict.title }}</u></h1>
          </div><!-- .col-* -->
          <div class="col-sm-4 col-md-2 m-y-0 p-y-0">
           <p class="text-center">
            <a class="btn btn-danger btn-sm"
               href="{{ back_to_gallery_href }}"
               title="Go Back to the Gallery containing this image">
             Back</a>
           </p>
          </div><!-- .col-* -->
         </div><!-- .row -->
        </div><!-- .card-body -->
       </div><!-- .shadow-* -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
{% endblock %}
{% block gallery_top_row %}
    <div class="row align-items-center justify-content-center">
     <div class="col-md-10 col-lg-9 col-xl-8">
      <div class="card hover-shadow m-2">
       <div class="shadow-1-strong">
        <div class="card-body m-md-3">
         <p class="text-center">
          <img class="img-fluid hover-shadow"
               src="{% static image_dict.path %}">
         </p>
         {% if image_dict.fixed_percentages %}
          <p class="card-text red-text text-center">
           <em><u>Image Is Based on a Four-Letter Type (Fixed Percentages)</u></em>
          </p>
         {% endif %}
         {% if image_dict.year  %}
          <p class="card-text text-right">
           [&copy;&nbsp;{{ image_dict.year }}]
          </p>
         {% endif %}
        </div><!-- .card-body -->
       </div><!-- .shadow-* -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
{% endblock %}

{% block gallery_content_rows %}
    <div class="row align-items-center justify-content-center">
     <div class="col-md-10 col-lg-9 col-xl-8">
      <div class="card hover-shadow m-1 m-sm-2 m-lg-3">
       <div class="shadow-1-strong">
        <div class="card-body mx-1 mx-sm-3 mx-lg-5">
         {% if image_dict.explain_dom or image_dict.explain_aux %}
          <p class="text-center">
           {% if image_dict.explain_dom  %}
            <a class="btn btn-md" id="toggle-explain-dom"
               title="Toggle explanation of how the image represents the dominant personality function">
            Explain Dominant Color</a>
           {% endif %}
           {% if image_dict.explain_aux %}
            <a class="btn btn-md" id="toggle-explain-aux"
               title="Toggle explanation of how the image represents the auxiliary personality function">
              Explain Auxiliary Color</a>
           {% endif %}
          </p>
          {% if image_dict.explain_dom  %}
           <p id="explain-dom"
              class="text-left hover-shadow mx-2 mx-lg-5 my-1 px-2 px-md-3 px-lg-5 py-3 som-text-to-toggle">
            {{ image_dict.explain_dom }}</p>
          {% endif %}
          {% if image_dict.explain_aux %}
           <p id="explain-aux"
              class="text-left hover-shadow mx-2 mx-lg-5 5 my-1 px-2 px-md-3 px-lg-5 py-3 som-text-to-toggle">
            {{ image_dict.explain_aux }}</p>
          {% endif %}
         {% endif %}
         {% if image_dict.subtitle_html %}
          <h3 class="font-weight-bold text-center mt-3">
           <em><u>{{ image_dict.subtitle_html | safe }}</u></em></h3>
         {% endif %}
         {% if image_dict.story_intro_html %}
          <p class="card-text text-left">
           {% spaceless %}
            {% if image_dict.story_intro_html %}
             <div id="story-intro-html">
              {{ image_dict.story_intro_html | safe }}
             </div><!-- #story-intro-html -->
            {% endif %}
           {% endspaceless %}
          </p>
         {% endif %}
         {% if image_dict.has_story or image_dict.meat_portrait_href %}
          <p class="text-center">
           {% if image_dict.has_story %}
            <a href="#whole-story" class="btn btn-mdb-color btn-md"
               title="Scroll down to the entire story behind these images">
             {{ image_dict.show_story_btn_text }}</a>
           {% else %}
            <a href="#whole-story" class="btn btn-mdb-color btn-md"
               title="Scroll down to the sorry no story text">
             Sorry No Story</a>
           {% endif %}
           {% if image_dict.meat_portrait_href %}
            <a class="btn btn-mdb-color btn-md" id="show-meat-portrait"
               href="{{ image_dict.meat_portrait_href }}" target="_blank"
               title="Opens a new window containing a photograph of {{ image_dict.title }}">
             Show the Meat Portrait</a>
           {% endif %}
          </p>
         {% endif %}
        </div><!-- .card-body -->
       </div><!-- .shadow-* -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
    <a name="score"></a>
    <div class="row align-items-center justify-content-center">
     <div class="col-md-11 col-lg-8 col-xl-7">
      <div class="card hover-shadow m-2">
       <div class="shadow-1-strong">
        <div class="card-body">
         {% if image_dict.score %}
          <div class="score-svg" id="score-bars"></div><!-- #score-bars -->
          <h2 class="font-italic text-decoration-underline text-center">
           <a href="https://en.wikipedia.org/wiki/{{ image_dict.four_letter_type }}"
              title="Click to open the wikipedia page for {{ image_dict.four_letter_type }}s in a new window"
              target="_blank">
            {{ image_dict.four_letter_type }}
           </a>
          </h2>
         {% else %}
          <h1 class="text-center">
           {{ image_dict.four_letter_type }}
          </h1>
         {% endif %}
         {% if image_dict.compare_to or image_dict.contrast_with %}
          <p class="text-center mt-3">
           {% if image_dict.compare_to_path  %}
            <a class="btn btn-mdb-color btn-md"
               href="{{ image_dict.compare_to_path }}"
               title="Click to see the image of someone with a similar personality">
             Compare to Image of <q>{{ image_dict.compare_to_title }}</q></a>
           {% endif %}
           {% if image_dict.contrast_with %}
            <a class="btn btn-mdb-color btn-md"
               href="{{ image_dict.contrast_with_path }}"
               title="Click to see the image of someone with a very different personality">
             Contrast With Image of <q>{{ image_dict.contrast_with_title }}</q></a>
           {% endif %}
          </p>
         {% endif %}
        </div><!-- .card-body -->
       </div><!-- .shadow-* -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
    <a name="whole-story"></a>
   {% if image_dict.has_story and image_dict.disclosure_html %}
    <div class="row align-items-center justify-content-center">
     <div class="col-md-11 col-lg-10 col-xl-9">
      <div class="card hoverable">
       <div class="card-body">
        <p class="">
         {{ image_dict.disclosure_html | safe }}
        </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
   {% endif %}
    <div class="row align-items-center justify-content-center">
     <div class="col-sm-11 col-md-10 col-lg-9 col-xl-8">
      <div class="card hoverable m-1 p-1 m-sm-2 p-sm-2 m-lg-3 p-lg-3">
       <div class="card-body mx-1 mx-sm-3 mx-lg-5">
        {% if image_dict.has_story %}
         <h2 class="font-weight-bold text-center">
          {{ image_dict.title }}:<br>
          The Story
         </h2>
         {% if image_dict.story_template %}
          {% include image_dict.story_template %}
         {% elif image_dict.story_html %}
          {{ image_dict.story_html | safe }}
         {% endif %}
        {% else %}
         <h2 class="font-weight-bold hover-shadow text-center">
          <i class="fa fa-pencil" aria-hidden="true"></i><br>
          Sorry, No Story Yet!</h2>
          <p class="hover-shadow p-2">
           It takes a long time to write a good story, and we haven't yet found
            time to write one for this image.
           Rest assured, though &mdash; we're on it!
          </p>
          <ul class="list-group hover-shadow mb-3">
           <li class="list-group-item">
            For the highlights and insights from SeeOurMinds.com, visit
             <a href="https://www.ArtsyVisions.com" target="_blank"
                title="Home page of ArtsyVisions.com">www.ArtsyVisions.com</a>
           </li>
           <li class="list-group-item">
            To learn all about spiritual portraits or <q><u>GROJAs,</u></q> visit
             <a href="https://www.groja.com/about" target="_blank"
                title="About page at groja.com">www.Groja.com/About</a>
           </li>
           <li class="list-group-item">
            Find out about special offers and fresh content by subscribing to the
             <a href="https://www.Groja.com/conversion/avmn" target="_blank"
                title="Page allowing you to sign up for the Artsy Visions Monthly Newsletter">
              Artsy Visions Monthly Newsletter</a><sup>&ast;</sup>
           </li>
          </ul>
          <p class="hover-shadow font-weight-bold text-center py-2">
           Thanks for being a fan!
          </p>
          <p class="hover-shadow p-2">
           <small>
            <sup>&ast;</sup>&nbsp;
            The Artsy Visions Monthly Newsletter includes updates for
             <a href="/" title="Home page of SeeOurMinds.com">
              SeeOurMinds.com</a>,
             <a href="https://ArtsyVisions.com"
                title="ArtsyVisions.com home page" target="_blank">
              ArtsyVisions.com</a>, and
             <a href="http://www.Groja.com"
                title="Groja.com home page" target="_blank">
              Groja.com</a>.
           </small>
          </p>
        {% endif %}
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-* -->
    </div><!-- .row -->
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'content/js/vendor/d3.v4.min.js' %}"
          type="text/javascript"></script>
  <script src="{% static 'content/js/score_bars.js' %}"
          type="text/javascript"></script>
  {% if image_dict.story_html or image_dict.explain_dom or image_dict.explain_aux %}
    <script>
      function send_ga_image_page_event(action, label)
      {
        send_ga_event_with_value_1('Button', action, label);   // defined in base.html
      };
      var toggle_text_effect = seeourminds.effect_for_type["{{ image_dict.four_letter_type }}"];

      {% if image_dict.explain_dom %}
        /*
         * Use the four letter type to set the color names and
         * bootstrap class for the colors for the dominant function
         */
        var color_name_for_dom = seeourminds.color_name_for_dom["{{ image_dict.four_letter_type }}"];
        var class_for_dom = seeourminds.bootstrap_class_for_dom["{{ image_dict.four_letter_type }}"];
        $("#toggle-explain-dom").text("Explain the " + color_name_for_dom);
        $("#toggle-explain-dom").addClass(class_for_dom);
        /*
         * Event handler for the Explain Dominant Function button:
         */
        $("#toggle-explain-dom").click(function() {
          $("#explain-dom").toggle(toggle_text_effect, "slow");
          var button_text = $("#toggle-explain-dom").text();
          if ( button_text.includes('Explain') ) {
            $("#toggle-explain-dom").text("Hide Explanation");
            send_ga_image_page_event("Explain the dom color: " + color_name_for_dom, "{{ image_dict.title }}");
          } else {
            $("#toggle-explain-dom").text("Explain the " + color_name_for_dom);
            send_ga_image_page_event("Hide Explanation, dom: " + color_name_for_dom, "{{ image_dict.title }}");
          }
        });
      {% endif %}
      {% if image_dict.explain_aux %}
        /*
         * Use the four letter type to set the color names and
         * bootstrap class for the colors for the auxiliary function
         */
        var color_name_for_aux = seeourminds.color_name_for_aux["{{ image_dict.four_letter_type }}"];
        var class_for_aux = seeourminds.bootstrap_class_for_aux["{{ image_dict.four_letter_type }}"];
        $("#toggle-explain-aux").text("Explain the " + color_name_for_aux);
        $("#toggle-explain-aux").addClass(class_for_aux);
        /*
         * Event handler for the Explain Auxiliary Function button:
         */
        $("#toggle-explain-aux").click(function() {
          $("#explain-aux").toggle(toggle_text_effect, "slow");
          var button_text = $("#toggle-explain-aux").text();
          if ( button_text.includes('Explain') ) {
            $("#toggle-explain-aux").text("Hide Explanation");
            send_ga_image_page_event("Explain the aux color: " + color_name_for_aux, "{{ image_dict.title }}");
          } else {
            $("#toggle-explain-aux").text("Explain the " + color_name_for_aux);
            send_ga_image_page_event("Hide Explanation, aux: " + color_name_for_dom, "{{ image_dict.title }}");
          }
        });
      {% endif %}
    </script>
  {% endif %}

  {% if image_dict.score %}
    <script>
      /*
       * For the Score Bars:
       * -------------------
       * Define positioning parameters and create the score_bars d3 svg chart
       */
      var positioning_params = {
        selector: '#score-bars',
        total_width: 575,
        total_height: 35,
        margin_top: 8,
        margin_right: 21,
        margin_bottom: 15,
        margin_left: 62,
      };
      var image_score = [
        {% for pair in image_dict.score %}
          {{ pair|safe }},
        {% endfor %}
      ];
      score_bars.create_chart_svg(
        positioning_params,
        image_score
      );
    </script>
  {% endif %}
{% endblock %}
