{% extends 'content/base.html' %}

{% block head %}
  {{ block.super }}
  {% load static %}
  <script src="{% static 'content/js/jquery-3.3.1.min.js' %}"
          type="text/javascript"></script>
{% endblock %}

{% block content %}
 <main class="mt-3">
  <div class="container-fluid">
   <div class="z-depth-1-half m-5 p-5">
    <div class="row justify-content-center">
     <div class="col-md-8 hoverable m-2">
      <h1 class="display-4 font-weight-bold text-center">
       {% block gallery_title %}
       {% endblock %}
      </h1>
     </div><!-- .col-md-8 -->
    </div><!-- .row -->
    <div class="row align-items-center justify-content-center">
     <div class="col-md-9">
      <div class="card hoverable m-2">
       <div class="card-body">
        <p class="card-text">
         {% block gallery_top_content %}
         {% endblock %}
        </p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-9 -->
    </div><!-- .row -->

    {% block gallery_content %}
    {% endblock %}

   </div><!-- .z-depth-1-half -->
  </div><!-- .container -->
 </main>
{% endblock %}





{% block top_row_ad %}
  {% block top_row_large_billboard_ad %}{% endblock %}
  {% block top_row_large_leaderboard_ad %}{% endblock %}
{% endblock %}
{% block top_content_left %}
  {% block top_left_ad %}{% endblock %}
{% endblock %}

{% block top_aside %}
   <div class="col-md-4">
     {% block top_aside_top_ad %}{% endblock %}
     {% block top_aside_top_responsive_ad %}{% endblock %}
   </div><!-- .col-md-4 -->
   {% block top_aside_email %}
     {{ block.super }}
   {% endblock %}
   <div class="col-md-4">
     {% block top_aside_bottom_ad %}{% endblock %}
     {% block top_aside_bottom_responsive_ad %}{% endblock %}
   </div><!-- .col-md-4 -->
{% endblock %}

{% block above_middle_row_ad %}{{ block.super }}{% endblock %}

{% block middle_content %}
{% endblock %}

{% block below_middle_row_ad %}{{ block.super }}{% endblock %}

{% block bottom_content %}
{% endblock %}

{% block bottom_row_ad %}{{ block.super }}{% endblock %}
