{% extends 'content/galleries/galleries_base.html' %}

{% load static %}

{% block gallery_title_row %}
    <div class="row justify-content-center">
     <div class="col-md-8 hoverable m-2">
      <h1 class="display-4 font-weight-bold text-center">
       {{ galleries_list_obj.galleries_list_title }}
      </h1>
     </div><!-- .col-md-8 -->
    </div><!-- .row -->
{% endblock %}
{% block gallery_top_row %}
    <div class="row align-items-center justify-content-center">
     <div class="col-md-9">
      <div class="card hoverable m-2">
       <div class="card-body">
        <p class="card-text">
         This page links to
          {{ galleries_list_obj.descriptive_phrase_html | safe }}</p>
        {% if galleries_list_obj.galleries_list_title != 'All Galleries' %}
         <ul>
           {% for gal_dict in galleries_list_obj.galleries_list_data %}
             {% if gal_dict.gallery_title != 'responsive_ad' %}
               <li>
                 <a href="{{ gal_dict.link_to_gallery }}/"
                    title="View the {{ gal_dict.gallery_title }} gallery"
                    onclick="send_ga_event_with_value_1('Link', 'Enter Gallery', '{{ gal_dict.gallery_title }}');">
                   {{ gal_dict.gallery_title }}</a></li>
             {% endif %}
           {% endfor %}
         </ul>
        {% endif %}
        <p class="card-text">
         Below are sample thumbnails and a brief description of
           each of these galleries.</p>
        <p class="card-text">
         Pick one to visit, learn, and enjoy!</p>
       </div><!-- .card-body -->
      </div><!-- .card -->
     </div><!-- .col-md-9 -->
    </div><!-- .row -->
{% endblock %}

{% block gallery_content_rows %}
    <div class="row">
     {% for gal_dict in galleries_list_obj.galleries_list_data %}
      {% if gal_dict.gallery_title == 'responsive_ad' %}
       {% block middle_content_responsive_ad %}{{ block.super }}{% endblock %}
      {% else %}
       <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card hoverable m-1 m-lg-2 p-1 p-lg-3">
         <div class="card-body">
          <h2 class="card-title h2-responsive font-weight-bold text-center">
           {{ gal_dict.gallery_title }}</h2>
          <p class="card-text text-center">
           <a href="{{ gal_dict.link_to_gallery }}/"
              title="View the {{ gal_dict.gallery_title }} gallery">
            <img src="{% static gal_dict.image_dict.image_file_path %}"
                 class="img-fluid hoverable">
           </a>
          </p><!-- .card-text -->
          <h5 class="text-center"><q>{{ gal_dict.image_dict.title }}</q></h5>
          {% spaceless %}
           <p class="card-text"
              id="{{ gal_dict.gallery_file_name }}-lpt-intro">
            {{ gal_dict.list_page_teaser_intro }}<span class="list-page-text-remainder"
               id="{{ gal_dict.gallery_file_name }}-lpt-remainder">{{ gal_dict.list_page_teaser_remainder }}
            </span>
            <a class="{{ gal_dict.gallery_file_name }}-lpt-link"
               id="{{ gal_dict.gallery_file_name }}-lpt-more">.... [More]</a>
            <a class="list-page-less-link {{ gal_dict.gallery_file_name }}-lpt-link"
               id="{{ gal_dict.gallery_file_name }}-lpt-less"> [Less]</a>
           </p>
          {% endspaceless %}
          <p class="card-text text-center">
            <a class="btn-lg btn-mdb-color"
               href="/gallery/{{ gal_dict.gallery_file_name }}/" role="button"
               onclick="send_ga_event_with_value_1('Button', 'Enter Gallery', '{{ gal_dict.gallery_title }}');">
             {{ gal_dict.see_gallery_button_text }}</a>
          </p><!-- .card-text -->
         </div><!-- .card-body -->
        </div><!-- card -->
       </div><!-- col-* -->
      {% endif %}
     {% endfor %}
    </div><!-- .row -->
{% endblock %}

{% block scripts %}
 {{ block.super }}
 {% for gal_dict in galleries_list_obj.galleries_list_data %}
  {% if gal_dict.gallery_title != 'responsive_ad' %}
   <script>
    /*
     * Add an on click event handler to toggle the opacity of the
     * lpt-remainder text and both the "More" and "Less" links
     */
    $(".{{ gal_dict.gallery_file_name }}-lpt-link").on("click", function() {
      $("#{{ gal_dict.gallery_file_name }}-lpt-remainder").toggle("fade", "slow");
      $("#{{ gal_dict.gallery_file_name }}-lpt-more").toggle("fade", "slow");
      $("#{{ gal_dict.gallery_file_name }}-lpt-less").toggle("fade", "slow");
    });
    $("#{{ gal_dict.gallery_file_name }}-lpt-more").on("click", function() {
      send_ga_event_with_value_1("Link", "Show More Gallery List Page Teaser", "{{ gal_dict.gallery_title }}");
    });
    $("#{{ gal_dict.gallery_file_name }}-lpt-less").on("click", function() {
      send_ga_event_with_value_1("Link", "Show Less Gallery List Page Teaser", "{{ gal_dict.gallery_title }}");
    });
   </script>
  {% endif %}
 {% endfor %}
{% endblock %}
