{% extends 'content/quiz/quiz_base.html' %}

{% block quiz_content %}
<div class="row align-items-top justify-content-center">
 <div class="col-md-8 px-4">
  <div class="card hover-shadow m-2">
   <div class="shadow-1-strong">
    <div class="card-body">
. . .
. . .
     <p class="card-text">
      You can use your email address to save your answers on our server!
     </p>
    </div><!-- .card-body -->
   </div><!-- .shadow-* -->
  </div><!-- .card -->
 </div><!-- .col-md-8 -->
 <div class="col-md-4">
. . .
. . .
  <div class="card hover-shadow mx-2 my-5">
   <div class="shadow-1-strong">
    <div class="card-body">
     <h2 class="card-title h2-responsive font-weight-bold text-center">
      Sharing Your Email</h2>
     <p class="card-text">
      Sharing your email address on the quiz page
        enables you to save your answers on our server and
        retrieve, change, and add to them when you return.</p>
     <p class="card-text">
      Note: sharing your email address on the quiz page does <b>NOT</b>
       subscribe you to the Artsy Visions Monthly Newsletter!</p>
    </div><!-- .card-body -->
   </div><!-- .shadow-* -->
  </div><!-- .card -->
 </div><!-- .col-md-4 -->
</div><!-- .row -->
{% endblock %}
