{% extends "content/base.html" %}

{% block title %}Template {% endblock %}

{% block navbar %}
 {{ block.super }}
{% endblock %}

{% block content %}
 <main class="mt-3">
  <div class="container">
   <div class="row justify-content-center">
    <div class="z-depth-1-half m-5 p-5">
     <div class="col-md-9">
      <h1 class="text-center">SeeOurMinds.com</h1>
      <p>
       This django site uses Material Design Bootstrap &mdash;
        MDB &mdash; specifically MDBoostrap jQuery:
      </p>
      <ul class="list-group mb-3">
       <li class="list-group-item">
        <a href="http://mdbootstrap.com" target="_blank">
         http://mdbootstrap.com</a>.
       </li>
      </ul>
      <p>
       Note: This and the content of the next row are
        both in a <b>col-md-9</b> div.
      </p>
      <p>
       Groja.com is a flask site that also uses MDB.
      </p>
     </div><!-- .col-md-9 -->
    </div><!-- .z-depth-1-half -->
   </div><!-- .row -->

   <div class="row justify-content-center">
    <div class="z-depth-1-half m-5 p-5">
     <div class="col-md-9">
      <h3 class="text-center">Template</h3>
      <p>
       Note: This and the content of the previous row are
        both in a <b>col-md-9</b> div.
      </p>
      <p>
       Use this file, <b>templates/content/index.html</b> , as the
        starting point for new pages for this site.
      </p>
      <p>
       It has the same essential structure as the legal/*.html files except that
       &mdash; unlike the legal/*.html files &mdash; this file references the
       <b>navbar</b> and <b>footer</b> blocks.  It works both ways.
       Just FYI.
      </p>
     </div><!-- .col-md-9 -->
    </div><!-- .z-depth-1-half -->
   </div><!-- .row -->

   <div class="row justify-content-center">
    <div class="z-depth-1-half m-5 p-5">
     <div class="col-md-9">
      <h2 class="text-center">Sample Markup - h2</h2>
      <h3 class="text-center">Sample Markup - h3</h3>
      <h4 class="text-center">Sample Markup - h4</h4>
      <h5 class="text-center">Sample Markup - h5</h5>
      <h6 class="text-center">Sample Markup - h6</h6>
      <p>
      </p>
      <p>
      </p>
      <blockquote class='blockquote'>
       [blockquote class]
       <br>
       [We hear gunshots from the hall then Ethel and Lucy come through the door,
       dressed like burglars with guns drawn.]
       <br>
       Ethel: Ok?
       <br>
       Lucy: Ok.
       <br>
       Ethel: Did you get any of them?
       <br>
       Lucy: Yeah I got two of them, a flat foot and a private eye.  I got the eye
         in the foot and the foot in the eye.
       <br>
       Ethel: I winged a couple myself.
       <br>
       - Season 1, Episode 27, The Keptomaniac 17:06.
      </blockquote>
      <blockquote class='blockquote'>
      </blockquote>
      <blockquote>
       [no class]
       <br>
       Jedidiah Leland: He married for love.  Love.  That's why he did
        everything.  That's why he went into politics.
       It seems we weren't enough.  He wanted all the voters to love him too.
       All he really wanted out of life was love.
       That's Charlie's story, how he lost it.
       You see, he just didn't have any to give.
       He loved Charlie Kane, of course.  [Chuckles.]  Very dearly.
       <br>
       - From Citizen Kane, 54:03.
      </blockquote>
      <blockquote>
      </blockquote>
      <p>
      </p>
     </div><!-- .col-md-9 -->
    </div><!-- .z-depth-1-half -->
   </div><!-- .row -->

   <div class="w-100"><hr></div>

   <a name="x"></a>
   <div class="row align-items-center justify-content-around">
    <div class="col-md-4">
     <div class="card hoverable m-2">
      <div class="card-body">
       <h2 class="card-title h2-responsive font-weight-bold">col-md-4 title</h2>
       <p class="card-text">
        unordered list</p>
       <ul class="list-group mb-3">
        <li class="list-group-item">
         item</li>
       </ul>
      </div><!-- .card-body -->
      <div class="card-footer">
       <p class="card-text text-center">
        <a class="btn btn-default" href="#" role="button">
         Button</a></p>
      </div><!-- .card-footer -->
     </div><!-- .card -->
    </div><!-- .col-md-4 -->
    <div class="col-md-4">
     <div class="card hoverable m-2">
      <div class="card-body">
       <h2 class="card-title h2-responsive font-weight-bold">col-md-4 title</h2>
       <p class="card-text">
        ordered list</p>
       <ol class="list-group mb-3">
         <li class="list-group-item">
          <span class="badge badge-white badge-pill mr-2">
           <span class="black-text">1</span></span>
          Step 1</li>
         <li class="list-group-item">
          <span class="badge badge-white badge-pill mr-2">
           <span class="black-text">2</span></span>
          Step 2</li>
         <li class="list-group-item">
          <span class="badge badge-white badge-pill mr-2">
           <span class="black-text">3</span></span>
          Step three.</li>
       </ol>
      </div><!-- .card-body -->
      <div class="card-footer">
       <p class="card-text text-center">
        <a class="btn btn-default" href="#" role="button">
         Button</a></p>
      </div><!-- .card-footer -->
     </div><!-- .card -->
    </div><!-- .col-md-4 -->
    <div class="col-md-4">
     <div class="card hoverable m-2">
      <div class="card-body">
       <h2 class="card-title h2-responsive font-weight-bold">col-md-4 title</h2>
       <p class="card-text">
        description list</p>
       <dl class="row mb-3">
        <dt class="col-sm-4">Term</dt>
        <dd class="col-sm-8">
         description</dd>
       </dl>
      </div><!-- .card-body -->
      <div class="card-footer">
       <p class="card-text text-center">
        <a class="btn btn-default" href="#" role="button">
         Button</a></p>
      </div><!-- .card-footer -->
     </div><!-- .card -->
    </div><!-- .col-md-4 -->
   </div><!-- .row -->

   <div class="w-100"></div>

   <div class="row align-items-center justify-content-center">
    <div class="card-group">
     <div class="card hoverable m-2">
      <div class="card-body">
       <h4 class="card-title h4-responsive font-weight-bold text-center">
        <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
        card-group - title</h4>
       <p class="card-text">
        "Use card groups to render cards as a single, attached element with equal width and height columns."
         <a href="https://mdbootstrap.com/components/panels/#layout"
            title="https://mdbootstrap.com/components/panels/#layout"
            target="_blank">
          https://mdbootstrap.com/components/panels/#layout</a>
       </p>
      </div><!-- .card-body -->
      <div class="card-footer">
       <p class="card-text text-center">
        <a class="btn btn-default" href="#" role="button">
         Button</a></p>
      </div><!-- .card-footer -->
     </div><!-- .card -->
     <div class="card hoverable m-2">
      <div class="card-body">
       <h4 class="card-title h4-responsive font-weight-bold text-center">
        <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
        card-group - title</h4>
       <p class="card-text">
         "Need a set of equal width and height panel that aren’t
          attached to one another?  Use decks."
          <a href="https://mdbootstrap.com/components/panels/#layout"
             title="https://mdbootstrap.com/components/panels/#layout"
             target="_blank">
           https://mdbootstrap.com/components/panels/#layout</a>
        </p>
      </div><!-- .card-body -->
      <div class="card-footer">
       <p class="card-text text-center">
        <a class="btn btn-default" href="#" role="button">
         Button</a></p>
      </div><!-- .card-footer -->
     </div><!-- .card -->
     <div class="card hoverable m-2">
      <div class="card-body">
       <h4 class="card-title h4-responsive font-weight-bold text-center">
        <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         card-group - title</h4>
       <p class="card-text">
        text</p>
      </div><!-- .card-body -->
      <div class="card-footer">
       <p class="card-text text-center">
        <a class="btn btn-default" href="#" role="button">
         Button</a></p>
      </div><!-- .card-footer -->
     </div><!-- .card -->
    </div><!-- .card-group -->

    <div class="row align-items-center justify-content-center">
     <div class="card-deck">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         card-deck - title</h4>
        <p class="card-text">
         text
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
         card-deck - title</h4>
        <p class="card-text">
        text</p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h4 class="card-title h4-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-book m-2 p-2" aria-hidden="true"></i><br>
          card-deck - title</h4>
        <p class="card-text">
         text</p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         <a class="btn btn-default" href="#" role="button">
          Button</a></p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
     </div><!-- .card-deck -->

   </div><!-- .row -->
  </div><!-- .container -->
 </main>
{% endblock %}

{% block footer %}
 {{ block.super }}
{% endblock %}
