{% extends 'content/base.html' %}

{% block title %}Versions {% endblock %}

{% block navbar %}
 {{ block.super }}
{% endblock %}

{% block content %}
<main class="mt-3">
 <div class="container">
  <div class="row justify-content-center">
   <div class="z-depth-1-half m-5 p-5">
    <div class="col-sm-12">
     <h1 class="center">Versions</h1>
     <p>
      Versions
     </p>
     <ul class="list-group mb-3">
      <li class="list-group-item">
       Python: {{ python_version }}
      </li>
      <li class="list-group-item">
       django.VERSION: {{ django_version_1 }}
      </li>
      <li class="list-group-item">
       django.get_version(): {{ django_version_2 }}
      </li>
     </ul>
     <p>
      <u>Command line &ndash; python:</u><br>
      which python<br>
      python -V<br>
      python --version<br>
      which python3<br>
      python3 --version<br>
      python3 -V<br>
     </p>
     <hr>
     <p>
      <u>Command line &ndash; django:</u><br>
      python3 -c "import django; print(django.VERSION)"<br>
      python3 -c "import django; print(django.get_version())"
     </p>
     <hr>
    </div><!-- .col-* -->
   </div><!-- .z-depth-1-half -->
  </div><!-- .row -->
 </div><!-- .container -->
</main>
{% endblock %}
