{% extends 'content/base.html' %}

{% block title %}Versions {% endblock %}

{% block navbar %}
 {{ block.super }}
{% endblock %}

{% block content %}
<main class="mt-3">
 <div class="container">
  <div class="row justify-content-center">
   <div class="z-depth-1-half m-5 p-5">
    <div class="col-sm-12">
     <h1 class="center">Versions</h1>
     <p>
      Versions
     </p>
     <ul class="list-group mb-3">
      <li class="list-group-item">
       Python: {{ python_version }}
      </li>
      <li class="list-group-item">
       Django: {{ django_version }}
      </li>
      <li class="list-group-item">
      </li>
     </ul>
    </div><!-- .col-* -->
   </div><!-- .z-depth-1-half -->
  </div><!-- .row -->
 </div><!-- .container -->
</main>
{% endblock %}
