{% extends 'content/base.html' %}

{% block content %}
<main class="mt-5">
 <div class="container-fluid mt-5">
  <div class="row mx-1 mx-md-2 mx-lg-4 my-2 my-md-3 my-lg-4 py-5">
   <div class="my-1 my-md-2 my-lg-3">
    <div class="shadow-1-strong">
     <div class="hover-shadow my-1 my-md-2 my-lg-3 pt-3">
      <div class="row justify-content-center">
       <div class="col-md-9">
        <div class="card hover-shadow m-2">
         <div class="shadow-1-strong">
          <div class="card-body">
           <h1 class="display-4 font-weight-bold text-center">
            The SeeOurMinds Quiz</h1>
          </div><!-- .card-body -->
         </div><!-- .shadow-* -->
        </div><!-- .card -->
       </div><!-- .col-md-9 -->
      </div><!-- .row -->
      {% block quiz_content %}
      {% endblock %}
      <a name="disclaimer"></a>
      <div class="row align-items-center justify-content-center">
       <div class="col-md-11 my-2 my-lg-4">
        <div class="card hover-shadow m-2">
         <div class="shadow-1-strong">
          <div class="card-body">
           <h3 class="card-title h3-responsive font-weight-bold text-center">
            Disclaimer, Features, the Future, and Your Feedback</h3>
           <p class="card-text">
            This questionnaire is a work in progress.
            We cannot guarantee it gives accurate results, but
             we have done everything possible to ensure it does</p>
           <p class="card-text">
            For a more detailed discussion about the accuracy of this and
             similar questionnaires, see our
             <a href="/legal/questionnaire_disclaimer"
                title="SeeOurMinds.com Questionnaire Disclaimer" target="_blank">
              Questionnaire Disclaimer</a>.
           <h4 class="h4-responsive">Features</h4>
           <p class="card-text">
             This questionnaire is a little different from most of the others.
             Note that it allows you to:</p>
           <ul class="list-group mb-3">
            <li class="list-group-item">
              Answer a varying number of questions.</li>
            <li class="list-group-item">
              Pick from a varying number of options
              (rather than just one of two either/or options).
            </li>
            <li class="list-group-item">
              Opt-out of answering some of the more experimental (fun) questions that
              appear towards the end, in the longer versions.
            </li>
           </ul>
           <p class="card-text">
            Thank you for your willingness to give it a try!</p>
           <h4 class="h4-responsive">Your Feedback</h4>
           <p class="card-text">
            We are always looking for ways to improve this questionnaire.
            If you have some suggestions, questions, or concerns about it, please
             <a href="/legal/questionnaire_disclaimer#contact-us"
                title="SeeOurMinds.com Questionnaire Disclaimer" target="_blank">
              contact us</a>.</p>
          </div><!-- .card-body -->
         </div><!-- .shadow-* -->
        </div><!-- .card -->
       </div><!-- .col-md-11 -->
      </div><!-- .row -->
     </div><!-- .hover-shadow -->
    </div><!-- .shadow-* -->
   </div><!-- .my-* -->
  </div><!-- .row -->
 </div><!-- .container -->
</main>
{% endblock %}
