<table class='table table-hover table-striped'>
<caption class='caption-top'><h5 class='text-center font-weight-bold text-decoration-underline'>
  NAME</h5></caption>
<thead><tr><th scope='col'>Factor</th><th class='text-center' scope='col'>Percentage</th><th class='text-center' scope='col'>Interpretation</th></tr></thead>
<tbody>
 <tr><th scope='row'><mark>O</mark>penness</th><td class='text-center'>x%</td><td class='text-center'>y</td></tr>
 <tr><th scope='row'><mark>C</mark>onscientiousness</th><td class='text-center'>x%</td><td class='text-center'>y</td></tr>
 <tr><th scope='row'><mark>E</mark>xtraversion</th><td class='text-center'>x%</td><td class='text-center'>y</td></tr>
 <tr><th scope='row'><mark>A</mark>greeableness</th><td class='text-center'>x%</td><td class='text-center'>y</td></tr>
 <tr><th scope='row'><mark>N</mark>euroticism</th><td class='text-center'>x%</td><td class='text-center'>y</td></tr>
</tbody>
</table>
