<table class='table table-hover table-striped'>
<caption class='caption-top'>
 <h5 class='font-weight-bold'>
  NAME
 </h5>
</caption>
<thead>
<tr><th scope='col'>Factor</th><th scope='col'>Percentage</th><th scope='col'>Interpretation</th></tr>
</thead>
<tbody>
<tr>
<th scope='row'>Openness</th><td>x%</td><td>y</td>
</tr><tr>
<th scope='row'>Conscientiousness</th><td>x%</td><td>y</td>
</tr><tr>
<th scope='row'>Extraversion</th><td>x%</td><td>y</td>
</tr><tr>
<th scope='row'>Agreeableness</th><td>x%</td><td>y</td>
</tr><tr>
<th scope='row'>Neuroticism</th><td>x%</td><td>y</td>
</tr>
</tbody>
</table>
